{% extends "base.html" %}
{% block title %}
{{ movie.name }}
{% endblock %}
{% block body %}
<h3 class = "title is-3">{{ movie.title }}</h3>
<h5 class = "subtitle is-5">Actors</h5>
<table class = "table is-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for actor in actors %}
        <tr>
            <td><a href = "/db/actors/{{ actor.id }}/">{{ actor.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h5 class = "subtitle is-5"><a href = "/db/">Database Home</a></h5>
{% endblock %}