{% extends "base.html" %}
{% block title %}Movies{% endblock %}
{% block body %}
<h3 class = "title is-3">Movies</h3>
<h5 class = "subtitle is-5">Showing {{ movies|length }} out of {{ total_matches }}.</h5>
{% if query == "" %}
<p>No query specified. Ordering by ID instead.</p>
{% else %}
<p>Query : {{ query }}</p>
{% endif %}
{% if total_matches == 0 %}
<p>No movies had titles that matched the query.</p>
{% else %}
<table class = "table is-striped">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td><a href = "/db/movies/{{ movie.id }}/">{{ movie.title }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Currently on page {{ page }} out of {{ total_pages }}.</p>
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" {% if page == 1 %}disabled{% else %}href = "/db/movies/?query={{ query }}&page={{ page - 1 }}"{% endif %}>Previous</a>
    <a class="pagination-next" {% if page == total_pages %}disabled{% else %}href = "/db/movies/?query={{ query }}&page={{ page + 1 }}"{% endif %}>Next page</a>
    <ul class="pagination-list">
        {% if total_pages < 9 %}
        {% for pg in range(1, total_pages + 1) %}
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ pg }}">{{ pg }}</a></li>
        {% endfor %}
        {% else  %}
        {% if page < 5 %}
        {% for pg in range(1, page + 2) %}
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ pg }}">{{ pg }}</a></li>
        {% endfor %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ total_pages - 1 }}">{{ total_pages - 1 }}</a></li>
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ total_pages }}">{{ total_pages }}</a></li>
        {% elif page > total_pages - 4 %}
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ 1 }}">{{ 1 }}</a></li>
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ 2 }}">{{ 2 }}</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% for pg in range(page - 1, total_pages + 1) %}
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ pg }}">{{ pg }}</a></li>
        {% endfor %}
        {% else %}
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ 1 }}">{{ 1 }}</a></li>
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ 2 }}">{{ 2 }}</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ page - 1 }}">{{ page - 1 }}</a></li>
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ page }}">{{ page }}</a></li>
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ page + 1 }}">{{ page + 1 }}</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ total_pages - 1 }}">{{ total_pages - 1 }}</a></li>
        <li><a class="pagination-link" href = "/db/movies/?query={{ query }}&page={{ total_pages }}">{{ total_pages }}</a></li>
        {% endif %}
        {% endif %}
    </ul>
</nav>
{% endif %}
<h5 class = "subtitle is-5"><a href = "/db/">Database Home</a></h5>
{% endblock %}
{% block more_bottom %}
<script src = "/assets/js/pagination.js"></script>
<script>
    var body = document.getElementsByTagName("BODY")[0];
    body.onload = function () {selectCurrentPage("{{ page }}");};
</script>
{% endblock %}