{% extends "base.html" %}
{% block title %}{{ actor.name }}{% endblock %}
{% block modals %}
<div class = "modal mft" id = "editActor">
    <div class="modal-background" onclick = "deactivateModal('editActor');"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Actor</p>
            <button class="delete" aria-label="close" onclick = "deactivateModal('editActor');"></button>
        </header>
        <section class="modal-card-body">
            <script>var editActorSubmitted = false;</script>
            <form id = "editActorForm" action = "/db/forms/edit-actor/" method = "POST" onsubmit = "if (editActorSubmitted) { return false; } else { if (editActorCheck()) { editActorSubmitted = true; return true; } else { return false; } }"></form>
            <input type = "hidden" form = "editActorForm" name = "a_id" value = "{{ actor.id }}">
            <table class = "table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Name</td>
                        {% if actor.is_manual %}
                        <td><input name = "name" type = "text" class = "input" maxlength = "80" required = "required" form = "editActorForm" value = "{{ actor.name }}"></td>
                        {% else %}{# Can only edit name if manaully added. #}
                        <td>{{ actor.name }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Birth Year</td>
                        <td><input name = "born" type = "text" class = "input" maxlength = "4" pattern = "^([0-9]{4})?$" form = "editActorForm" value = "{% if actor.born %}{{ actor.born }}{% endif %}"></td>
                    </tr>
                    <tr>
                        <td>Death Year</td>
                        <td><input name = "died" type = "text" class = "input" maxlength = "4" pattern = "^([0-9]{4})?$" form = "editActorForm" value = "{% if actor.died %}{{ actor.died }}{% endif %}"></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td><input name = "note" type = "text" class = "input" maxlength = "80" form = "editActorForm" value = "{% if actor.note %}{{ actor.note }}{% endif %}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class = "button is-success" type = "submit" form = "editActorForm">Submit</button>
            <button class = "button is-danger" type = "reset" form = "editActorForm">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}
{% block body %}
<h3 class = "title is-3">Actor - {{ actor.name }}</h3>
{% if actor.born %}<p>Born - {{ actor.born }}</p>{% endif %}
{% if actor.died %}<p>Died - {{ actor.died }}</p>{% endif %}
{% if actor.note %}<p>Comments - {{ actor.note }}</p>{% endif %}
<br/>
<input class = "copyInput" id = "ci" value = "{{ actor.id }}">
<div class = "buttons">
    <button class = "button is-info is-small" onclick = "copyTextFromElement('ci');">
        <span class="icon">
            <i class="fa fa-copy"></i>
        </span>
        <span>Copy ID</span>
    </button>
    <button class = "button is-warning is-small">Add Movie</button>
    <button class = "button is-success is-small" onclick = "activateModal('editActor');">Edit</button>
    <script>var deleteActorSubmitted = false;</script>
    <form id = "deleteActorForm" action = "/db/forms/delete-actor/" method = "POST" onsubmit = "if (deleteActorSubmitted) { return false; } else { if (deleteActorCheck({{ delete_mode }})) { deleteActorSubmitted = true; return true; } else { return false; } }"></form>
    <input form = "deleteActorForm" name = "a_id" value = "{{ actor.id }}" type = "hidden">
    <button class = "button is-danger is-small" type = "submit" form = "deleteActorForm">Delete</button>
</div>
<h5 class = "subtitle is-5">Movies</h5>
<table class = "table is-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td><a href = "/db/movies/{{ movie.id }}/">{{ movie.format_title() }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if actor.is_manual %}
<p>This actor was added to the database manually.</p>
{% else %}
<p>This actor was one of the many imported to the database initially.</p>
{% endif %}
<h5 class = "subtitle is-5"><a href = "/db/">Database Home</a> | <a href = "/db/actors/">All Actors</a></h5>
{% endblock %}