{% extends "base.html" %}
{% block title %}{{ actor.name }}{% endblock %}
{% block modals %}
<div class = "modal mft" id = "editActor">
    <div class="modal-background" onclick = "deactivateModal('editActor');"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Actor</p>
            <button class="delete" aria-label="close" onclick = "deactivateModal('editActor');"></button>
        </header>
        <section class="modal-card-body">
            <script>var editActorSubmitted = false;</script>
            <form id = "editActorForm" action = "/db/forms/edit-actor/" method = "POST" onsubmit = "if (editActorSubmitted) { return false; } else { if (editActorCheck()) { editActorSubmitted = true; return true; } else { return false; } }"></form>
            <input type = "hidden" form = "editActorForm" name = "a_id" value = "{{ actor.id }}">
            <table class = "table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Name</td>
                        {% if actor.is_manual %}
                        <td><input name = "name" type = "text" class = "input" maxlength = "80" required = "required" form = "editActorForm" value = "{{ actor.name }}"></td>
                        {% else %}{# Can only edit name if manaully added. #}
                        <td>{{ actor.name }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Birth Year</td>
                        <td><input name = "born" type = "text" class = "input" maxlength = "4" pattern = "^([0-9]{4})?$" form = "editActorForm" value = "{% if actor.born %}{{ actor.born }}{% endif %}"></td>
                    </tr>
                    <tr>
                        <td>Death Year</td>
                        <td><input name = "died" type = "text" class = "input" maxlength = "4" pattern = "^([0-9]{4})?$" form = "editActorForm" value = "{% if actor.died %}{{ actor.died }}{% endif %}"></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td><input name = "note" type = "text" class = "input" maxlength = "80" form = "editActorForm" value = "{% if actor.note %}{{ actor.note }}{% endif %}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class = "button is-success" type = "submit" form = "editActorForm">Submit</button>
            <button class = "button is-danger" type = "reset" form = "editActorForm">Cancel</button>
        </footer>
    </div>
</div>
<div class = "modal mft" id = "connectMovie">
    <div class="modal-background" onclick = "deactivateModal('connectMovie');"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Movie Role</p>
            <button class="delete" aria-label="close" onclick = "deactivateModal('connectMovie');"></button>
        </header>
        <section class="modal-card-body">
            <script>var movieArr = [{% for movie_l in movies %}{{ movie_l[0].id }},{% endfor %}];</script>
            <script>var connectMovieSubmitted = false;</script>
            <form id = "connectMovieForm" action = "/db/forms/add-role/" method = "POST" onsubmit = "if (connectMovieSubmitted) { return false; } else { if (addRoleCheck(true, movieArr)) { connectMovieSubmitted = true; return true; } else { return false; } }"></form>
            <input type = "hidden" form = "connectMovieForm" name = "a_id" value = "{{ actor.id }}">
            <input type = "hidden" form = "connectMovieForm" name = "from" value = "actor">
            <table class = "table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Actor</td>
                        <td>{{ actor.name }}</td>
                    </tr>
                    <tr>
                        <td>Movie <a href = "/db/movies/" target = "_blank">(search)</a></td>
                        <td><input name = "m_id" type = "text" class = "input" form = "connectMovieForm" placeholder = "Enter a Movie's ID." id = "movieIDInput" autocomplete = "off"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id = "movieNameMsg"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class = "button is-success" type = "submit" form = "connectMovieForm">Submit</button>
            <button class = "button is-danger" type = "reset" form = "connectMovieForm" onclick = "resetAddRole(true);">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}
{% block body %}
<h3 class = "title is-3">Actor - {{ actor.name }}</h3>
{% if actor.born %}<p>Born - {{ actor.born }}</p>{% endif %}
{% if actor.died %}<p>Died - {{ actor.died }}</p>{% endif %}
{% if actor.note %}<p>Comments - {{ actor.note }}</p>{% endif %}
<br/>
<input class = "copyInput" id = "ci" value = "{{ actor.id }}">
<div class = "buttons">
    <button class = "button is-info is-small" onclick = "copyTextFromElement('ci');">
        <span class="icon">
            <i class="fa fa-copy"></i>
        </span>
        <span>Copy ID</span>
    </button>
    <button class = "button is-warning is-small" onclick = "activateModal('connectMovie');">Add Movie</button>
    <button class = "button is-success is-small" onclick = "activateModal('editActor');">Edit</button>
    <script>var deleteActorSubmitted = false;</script>
    <form id = "deleteActorForm" action = "/db/forms/delete-actor/" method = "POST" onsubmit = "if (deleteActorSubmitted) { return false; } else { if (deleteActorCheck({{ delete_mode }})) { deleteActorSubmitted = true; return true; } else { return false; } }"></form>
    <input form = "deleteActorForm" name = "a_id" value = "{{ actor.id }}" type = "hidden">
    <button class = "button is-danger is-small" type = "submit" form = "deleteActorForm">Delete</button>
    <button class = "hidden" id = "deleteRoleAjaxButton"></button>
    <input type = "hidden" id = "ajaxID">
</div>
<h5 class = "subtitle is-5">Movies</h5>
<table class = "table is-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for movie_l in movies %}
        {% set movie = movie_l[0] %}
        <tr id = "roleRow{{ movie.id }}">
            <td><a href = "/db/movies/{{ movie.id }}/">{{ movie.title }}</a></td>
            <td>
                {% if movie_l[1] %}
                <button class="button is-danger is-small" onclick = "initDeleteRole('{{ movie.id }}');">
                    <span class="icon">
                        <i class="fa fa-times"></i>
                    </span>
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if actor.is_manual %}
<p>This actor was added to the database manually.</p>
{% else %}
<p>This actor was one of the many imported to the database initially.</p>
{% endif %}
<h5 class = "subtitle is-5"><a href = "/db/">Database Home</a> | <a href = "/db/actors/">All Actors</a></h5>
{% endblock %}
{% block more_bottom %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "/assets/js/role.js"></script>
<script type = "text/javascript">
    $SCRIPT_ROOT = "";
    var getMovieAjaxUrl = $SCRIPT_ROOT + '/db/ajax/get-movie/';
    var deleteRoleAjaxUrl = $SCRIPT_ROOT + '/db/ajax/delete-role/';
    var query;
    var m_id;
</script>
<script type=text/javascript>
    $(function() {
        $('input#movieIDInput').bind('keyup', function() {
            query = $("#movieIDInput").val();
            if (query == "") {
                resetAddRole(true);
            } else {
                $.getJSON(getMovieAjaxUrl, {
                    m_id: query
                }, function(data) {
                    setAddRoleMsg(true, data.movie, data.m_id, data.success);
                });
            }
            return false;
        });
    });
</script>
<script type=text/javascript>
    $(function() {
        $('button#deleteRoleAjaxButton').bind('click', function() {
            m_id = $("#ajaxID").val();
            if (deleteRoleCheck()) {
                $.getJSON(deleteRoleAjaxUrl, {
                    a_id: "{{ actor.id }}",
                    m_id: m_id
                }, function(data) {
                    if (data.success) {
                        deleteRoleRow(m_id);
                    } else {
                        alert("Failed to delete - could be already deleted!")
                    }
                });
            }
            return false;
        });
    });
</script>
{% endblock %}