{% extends "base.html" %}
{% block title %}Find Connections{% endblock %}
{% block body %}
<h3 class = "title is-3">Find Connections</h3>
<div class = "columns">
    <div class = "column">
        <h5 class = "subtitle is-5">Actor 1</h5>
        <p>Enter the ID of an Actor into the box below. You can also copy and paste an ID by searching the <a href = "/db/actors/" target = "_blank">database</a>.</p>
        <input class = "input baconActorInput" autocomplete = "off" id = "actor1input" type = "text" placeholder = "Enter an Actor's ID.">
        <button class = "button is-danger baconActorCancel" onclick = "resetBacon(1);">Cancel</button>
        <p id = "baconMsg1"></p>
        <hr>
        <h5 class = "subtitle is-5">Actor 2</h5>
        <p>Enter the ID of an Actor into the box below. You can also copy and paste an ID by searching the <a href = "/db/actors/" target = "_blank">database</a>.</p>
        <input class = "input baconActorInput" autocomplete = "off" id = "actor2input" type = "text" placeholder = "Enter an Actor's ID.">
        <button class = "button is-danger baconActorCancel" onclick = "resetBacon(2);">Cancel</button>
        <p id = "baconMsg2"></p>
        <hr>
        <button class = "button is-success" onclick = "baconSearch();">Find Connection</button>
    </div>
    <div class = "column">
        <h5 class = "subtitle is-5">Results</h5>
        <div class = "content">
            {% if case == 0 %}{# Case 0 : no actors specified #}
            <p>Enter two Actor IDs and press "Find Connections"!</p>
            {% elif case == 1 %}{# Invalid actor(s). Case 0 is skipped because nothing is displayed. #}
            <p>One or both of the IDs entered had no matches in the database.</p>
            {% elif case == 2 %}{# Same actors. #}
            <p><a href = "/db/actors/{{ path_list[0].id }}/">{{ path_list[0].name }}</a> has a degree of 0 with <a href = "/db/actors/{{ path_list[0].id }}/">{{ path_list[0].name }}</a>!</p>
            {% elif case == 4 %}{# No connection found. #}
            <p>There was no connection found in the database between <a href = "/db/actors/{{ path_list[0].id }}/">{{ path_list[0].name }}</a> and <a href = "/db/actors/{{ path_list[1].id }}/">{{ path_list[1].name }}</a>.</p>
            {% else %}{# Case 3 : Successful connection found. #}
            {% set degrees = ((path_list|length - 1) / 2) | int %}
            <p><a href = "/db/actors/{{ path_dict[path_list[0]].id }}/">{{ path_dict[path_list[0]].name }}</a> has a degree of {{ degrees }} with <a href = "/db/actors/{{ path_dict[path_list[-1]].id }}/">{{ path_dict[path_list[-1]].name }}</a>!</p>
            <ul>
            {% for idx in range(path_list|length) %}
            {% set node_id = path_list[idx] %}
            {% if node_id > 0 %}
            <li><a href = "/db/actors/{{ path_dict[node_id].id }}/">{{ path_dict[node_id].name }}</a>{% if idx == 0 %} was in{% elif idx == path_list|length - 1 %}.{% else %}, who was in{% endif %}</li>
            {% else %}
            <li><a href = "/db/movies/{{ path_dict[node_id].id }}/">{{ path_dict[node_id].title }}</a>, which had</li>
            {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block more_bottom %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "/assets/js/bacon.js"></script>
<script type = "text/javascript">
    $SCRIPT_ROOT = "";
    var ajaxUrl = $SCRIPT_ROOT + '/db/ajax/get-actor/';
    var query1;
    var query2;
</script>
<script type=text/javascript>
    $(function() {
        $('input#actor1input').bind('keyup', function() {
            query1 = $("#actor1input").val();
            if (query1 == "") {
                resetBacon(1);
            } else {
                $.getJSON(ajaxUrl, {
                    a_id: query1
                }, function(data) {
                    setBaconMsg(1, data.actor, data.a_id, data.success);
                });
            }
            return false;
        });
    });
    $(function() {
        $('input#actor2input').bind('keyup', function() {
            query2 = $("#actor2input").val();
            if (query2 == "") {
                resetBacon(2);
            } else {
                $.getJSON(ajaxUrl, {
                    a_id: query2
                }, function(data) {
                    setBaconMsg(2, data.actor, data.a_id, data.success);
                });
            }
            return false;
        });
    });
</script>
{% endblock %}