{% extends "base.html" %}
{% block title %}{{ movie.title }}{% endblock %}
{% block modals %}
<div class = "modal mft" id = "editMovie">
    <div class="modal-background" onclick = "deactivateModal('editMovie');"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Movie</p>
            <button class="delete" aria-label="close" onclick = "deactivateModal('editMovie');"></button>
        </header>
        <section class="modal-card-body">
            <script>var editMovieSubmitted = false;</script>
            <form id = "editMovieForm" action = "/db/forms/edit-movie/" method = "POST" onsubmit = "if (editMovieSubmitted) { return false; } else { if (editMovieCheck()) { editMovieSubmitted = true; return true; } else { return false; } }"></form>
            <input type = "hidden" form = "editMovieForm" name = "m_id" value = "{{ movie.id }}">
            <table class = "table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Title</td>
                        {% if movie.is_manual %}
                        <td><input name = "title" type = "text" class = "input" maxlength = "80" required = "required" form = "editMovieForm" value = "{{ movie.title }}"></td>
                        {% else %}{# Can only edit title if manaully added. #}
                        <td>{{ movie.title }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td><input name = "year" type = "text" class = "input" maxlength = "4" pattern = "^([0-9]{4})?$" form = "editMovieForm" value = "{% if movie.year %}{{ movie.year }}{% endif %}"></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td><input name = "note" type = "text" class = "input" maxlength = "80" form = "editMovieForm" value = "{% if movie.note %}{{ movie.note }}{% endif %}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class = "button is-success" type = "submit" form = "editMovieForm">Submit</button>
            <button class = "button is-danger" type = "reset" form = "editMovieForm">Cancel</button>
        </footer>
    </div>
</div>
<div class = "modal mft" id = "connectActor">
    <div class="modal-background" onclick = "deactivateModal('connectActor');"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Actor Role</p>
            <button class="delete" aria-label="close" onclick = "deactivateModal('connectActor');"></button>
        </header>
        <section class="modal-card-body">
            <script>var actorArr = [{% for actor_l in actors %}{{ actor_l[0].id }},{% endfor %}];</script>
            <script>var connectActorSubmitted = false;</script>
            <form id = "connectActorForm" action = "/db/forms/add-role/" method = "POST" onsubmit = "if (connectActorSubmitted) { return false; } else { if (addRoleCheck(false, actorArr)) { connectActorSubmitted = true; return true; } else { return false; } }"></form>
            <input type = "hidden" form = "connectActorForm" name = "m_id" value = "{{ movie.id }}">
            <input type = "hidden" form = "connectActorForm" name = "from" value = "movie">
            <table class = "table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Movie</td>
                        <td>{{ movie.title }}</td>
                    </tr>
                    <tr>
                        <td>Actor <a href = "/db/actors/" target = "_blank">(search)</a></td>
                        <td><input name = "a_id" type = "text" class = "input" form = "connectActorForm" placeholder = "Enter an Actor's ID." id = "actorIDInput" autocomplete = "off"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id = "actorNameMsg"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class = "button is-success" type = "submit" form = "connectActorForm">Submit</button>
            <button class = "button is-danger" type = "reset" form = "connectActorForm" onclick = "resetAddRole(false);">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}
{% block body %}
<h3 class = "title is-3">{{ movie.title }}</h3>
{% if movie.year %}<p>Year - {{ movie.year }}</p>{% endif %}
{% if movie.note %}<p>Comments - {{ movie.note }}</p>{% endif %}
<br/>
<input class = "copyInput" id = "ci" value = "{{ movie.id }}">
<div class = "buttons">
    <button class = "button is-info is-small" onclick = "copyTextFromElement('ci');">
        <span class="icon">
            <i class="fa fa-copy"></i>
        </span>
        <span>Copy ID</span>
    </button>
    <button class = "button is-warning is-small" onclick = "activateModal('connectActor');">Add Actor</button>
    <button class = "button is-success is-small" onclick = "activateModal('editMovie');">Edit</button>
    <script>var deleteMovieSubmitted = false;</script>
    <form id = "deleteMovieForm" action = "/db/forms/delete-movie/" method = "POST" onsubmit = "if (deleteMovieSubmitted) { return false; } else { if (deleteMovieCheck({{ delete_mode }})) { deleteMovieSubmitted = true; return true; } else { return false; } }"></form>
    <input form = "deleteMovieForm" name = "m_id" value = "{{ movie.id }}" type = "hidden">
    <button class = "button is-danger is-small" type = "submit" form = "deleteMovieForm">Delete</button>
    <button class = "hidden" id = "deleteRoleAjaxButton"></button>
    <input type = "hidden" id = "ajaxID">
</div>
<h5 class = "subtitle is-5">Actors</h5>
<table class = "table is-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for actor_l in actors %}
        {% set actor = actor_l[0] %}
        <tr id = "roleRow{{ actor.id }}">
            <td><a href = "/db/actors/{{ actor.id }}/">{{ actor.format_name() }}</a></td>
            <td>
                {% if actor_l[1] %}
                <button class="button is-danger is-small" onclick = "initDeleteRole('{{ actor.id }}');">
                    <span class="icon">
                        <i class="fa fa-times"></i>
                    </span>
                    <span>Delete</span>
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if movie.is_manual %}
<p>This movie was added to the database manually.</p>
{% else %}
<p>This movie was one of the many imported to the database initially.</p>
{% endif %}
<h5 class = "subtitle is-5"><a href = "/db/">Database Home</a> | <a href = "/db/movies/">All Movies</a></h5>
{% endblock %}
{% block more_bottom %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "/assets/js/add_role.js"></script>
<script type = "text/javascript">
    $SCRIPT_ROOT = "";
    var getActorAjaxUrl = $SCRIPT_ROOT + '/db/ajax/get-actor/';
    var deleteRoleAjaxUrl = $SCRIPT_ROOT + '/db/ajax/delete-role/';
    var query;
    var a_id;
</script>
<script type=text/javascript>
    $(function() {
        $('input#actorIDInput').bind('keyup', function() {
            query = $("#actorIDInput").val();
            if (query == "") {
                resetAddRole(false);
            } else {
                $.getJSON(getActorAjaxUrl, {
                    a_id: query
                }, function(data) {
                    setAddRoleMsg(false, data.actor, data.a_id, data.success);
                });
            }
            return false;
        });
    });
</script>
<script type=text/javascript>
    $(function() {
        $('button#deleteRoleAjaxButton').bind('click', function() {
            a_id = $("#ajaxID").val();
            if (deleteRoleCheck()) {
                $.getJSON(deleteRoleAjaxUrl, {
                    a_id: a_id,
                    m_id: "{{ movie.id }}"
                }, function(data) {
                    if (data.success) {
                        deleteRoleRow(a_id);
                    } else {
                        alert("Failed to delete - could be already deleted!")
                    }
                });
            }
            return false;
        });
    });
</script>
{% endblock %}